body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333333;
}

header {
    background-color: #07B1FC;
    padding: 20px;
    text-align: center;
    color: white;
}

footer {
    background-color: #06516F;
    padding: 10px;
    text-align: center;
    color: white;
}

.container {
    padding: 20px;
}

h1, h2 {
    color: #06516F;
}

form {
    margin-top: 20px;
}

input[type="file"], input[type="text"], input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #07B1FC;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #06516F;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #07B1FC;
    color: white;
}
